<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Restaurant - Menu Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Viewport Configuration -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- App CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/menu-container.css" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i"
      rel="stylesheet"
    />
    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <!-- External JS -->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/menu.js"></script>
  </head>

  <body>
    <div class="back-image"></div>
    <!-- Nav Bar (Fixed) -->
    <nav>
      <span> Restaurant Name </span>
      <a href="/cart"><i class="fa-solid fa-bag-shopping"></i></a>
      <form class="form-group" action="/logout" method="POST">
        <button class="btn">Logout</button>
      </form>
    </nav>
    <main class="container">
      <section id="menu-container">
        <article class="menu-item">
          <header>
            <div>
              <h1 class="title">Menu</h1>
              <h2> <% for (let i=0; i < menuData.length; i++) { %>
                  <li><%= menuData[i].name.toUpperCase() %></li>
                  <br>
                  <i class="add-to-cart fa-sharp fa-solid fa-plus"></i>
                  <br>
                  <li class="photo_url" ><%= menuData[i].photo_url %>null</li>
                   <!-- <%= menuData[i].type %> -->
                  <% } %></h2>
              <h3>
              </h3>
            </div>
          </header>
          <footer>
            <div></div>
            <div>
            </div>
          </footer>
        </article>
      </section>
    </main>
  </body>
</html>
