body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #444444;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background: #a3a582;
    padding: 1.5em;
    position: fixed;
    top: 0%;
    width: 100%;

    span {
      font-family: "poppins", sans-serif;
      font-size: 2em;
    }
  }

  // .back-image {
  //   background: url("../public/img/restaurant-interior.jpg");
  //   background-size: cover;
  //   width: 200px;
  //   height: 200px;
  // }
  .fa-solid:hover {
    color: green;
  }
}
