#menu-container {
  display: flex;
  flex-direction: column;
  padding-left: 6%;
  padding-right: 6%;

  .menu-item {
    display: flex;
    flex-direction: row;
    margin-top: 1.5em;
    border: solid #000;
    border-radius: 7px;
    padding-left: 20px;
  }

  article.menu-item:hover {
    box-shadow: 8px 8px #dadcea;
  }
  .fa-sharp {
    display: flex;
    padding-inline-start: 70px;
    position: relative;
    top: 20px;
  }
  .photo_url {
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
  }
}
